      <% if resource.errors.any? %>
      <div class="alert alert-danger w-75" role="alert">
        <div id="error_explanation">
          <ul>
            <% resource.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      </div>