<section class="container">
  <h4 class="display-6 m-4 shadow-sm h-auto w-25">投稿詳細</h4>

      <table class="table">

     <tbody>
      <tr>
        <td style="width: 271px">おしらせ</td>
        <td><%= @comment.title %></td>
      </tr>

      <tr>
        <td>内容</td>
        <td><%= @comment.content %></td>
      </tr>
    </tbody>
   </table>
</section>