<h1>～　予約の申込を完了しました　～</h1><br>
<h5>申込内容をご登録のメールアドレスへ送信いたしました</h5>

<h5>注意事項</h5><br>
<h5>・宿泊日前々日よりキャンセル料が発生致します。</h5><br>
<h5>・内容変更・キャンセルの際は施設までご連絡をお願いいたします。</h5><br>

      <%= link_to "▶予約一覧", reservations_path %>
      <%= link_to "▶TOPページに戻る", root_path %>